.msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: red;
    align-items: center;
    height: 100vh;
}

.Bogado{
    color:forestgreen;
    font-weight: bold;
    font-family:cursive;
    font-size: 30px;
}